/**********  Fonts  **********/
$font-primary:      'Lato', sans-serif;
$font-secondary:    'Playfair Display', serif;
$font-size-default: 18px;

/********* Colors ***********/
$primary:         #FFFFFF;
$secondary:       #53F3CD;
$secondary-light: #689FF2;
$black-default:   #000000;
$bg:              #161926;

/********  Widths ***********/
$width: 1440px;
$content-width: 1170px;

/********  Breakpoints ******/
$basic: 1440px;
$lg: 1024px;
$md: 768px;
$mob: 600px;
$mob_max: $mob + 1;
$sm: 375px;

/***** Padding ******/
$sm-padding: 10px;
$md-padding: 35px;
$lg-padding: 65px;

/***** Z-index ******/
$ground: 0;
$z-header:$ground - 1;
$z-main:$ground + 1;




