@use '../variables/variables' as *;
@use '../mixins/media' as *;

.footer {
    padding: 35px 0 30px 0;
    width: 100vw;

    &__wrapper {

        @include media($md) {
            flex-wrap: wrap;

        }

        @include media($mob) {
            column-gap: 26.5%;

        }

    }

    &__text {
        font-size: 14px;
        opacity: 0.6;

    }

    &__link-box {
        @include media($mob) {
            margin: 0 auto;
            padding-top: 15px;
        
        }
    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.08em;
        opacity: 1;

    }
    
}

.position {
    padding: 0 35px 0 0;

}