@use '../variables/variables' as *;
@use '../mixins/media' as *;

.header {
    position: relative;
    z-index:$ground;

    &::after {
        z-index:$z-header;
        position: absolute;
        content: "";
        background-image: url(../img/bg/first-screen-image.jpg);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100%;
        height: 100vh;
        width: 100vw;
        top: -28px;
        left: 0;

    }

    &__wrapper {
        width: 100vw;
        padding-top: 25px;
        padding-bottom: 25px;
        align-items: center;
        margin-top: 30px;
        background: linear-gradient(270deg, rgba(22, 25, 38, 0.5) 0%, rgba(22, 25, 38, 0) 24.1%, rgba(22, 25, 38, 0) 47.19%), rgba(22, 25, 38, 0.02);
        backdrop-filter: blur(9px);

    }

    &__entry {
        padding-top: 150px;

        &-title {
            max-width: 525px;
            font-size: 44px;
            line-height: 52px;
            padding: 0 0 20px 0;

            @include media($mob) {
                font-size: 40px;
                line-height: 45px;
                padding: 0 0 20px 0;

            }

            @include media($sm) {
                text-align: center;

            }

        }

        &-desc {
            width: 100%;
            max-width: 440px;
            padding: 0 0 50px 0;

            @include media($sm) {
                margin: 0 auto;
                text-align: center;
                width: 70%;

            }

        }

        &-btn {
            @include media($mob) {
                left: 35%;

            }

        }

    }

}
