@use '../variables/variables' as *;
@use '../mixins/media' as *;

.main {
    position: relative;
    z-index: $z-main;
    padding-top: 150px;
    width: 100vw;

    @include media($md) {
        padding-top: 100px;

        }

    &__entry {
        width: 100%;
        max-width: 525px;

        &-title {
            font-size: 44px;
            line-height: 52px;
            padding: 0 0 20px 0;

            @include media($mob) {
                font-size: 40px;
                line-height: 45px;
                padding: 0 0 20px 0;
            
            }
    
        }
        
        &-desc {
            width: 100%;
            max-width: 440px;
            padding: 0 0 50px 0;
    
        }

        &-btn {
            @include media($mob) {
                left: 35%;

            }

        }

    }
    
    &__statistics {
        position: relative;
        padding-top: 150px;

    }

    &__box {
        padding-top: 120px;
        flex-wrap: wrap;
        align-items: baseline;

    }
    
    &__quote {
        background-image: url(../img/bg/quote-background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 400px;
        height: 100%;
        padding: 100px 0 100px 160px;
        margin: 25px 0 0 0;

    }

    &__video {
        padding: 125px 105px 0 105px;
        width: 100%;

    }

    &__promises {
        position: relative;
        padding-top: 120px;
        
    }

    &__reviews {
        padding: 115px 0 0 0;
        border-bottom: 1px solid #515773;

    }

    &__contact {
        display: flex;
        justify-content: space-between;
        padding: 60px 0 100px 0;
        border-bottom: 1px solid #515773;

    }

}




