@use '../variables/variables' as *;
@use '../mixins/media' as *;

.cell-item {
	width: 100%;
	max-width: 570px;
	padding: 0 0 0 35px;
	border-top: 1px solid #515773;
	flex: 0 1 50%;

		@include media($md) {
			flex: 0 1 100%;
			margin: 0 auto;
		
		}

		@include media($sm) {
			padding: 0 35px 0 35px;

		}

	&__title {
		width: 100%;
		max-width: 485px;
		padding: 50px 0 30px 0;

		@include media($sm) {
			font-size: 32px;
	
		}

	}

	&__text {
		width: 100%;
		max-width: 485px;
		padding: 0 0 115px 0;

		@include media($sm) {
			padding: 0 0 55px 0;
	
		}
	}

}

